#projects{
    background-image: linear-gradient(rgba(214, 208, 200, 1), grey );
    transition: all .45s ease;
    position: static;
    flex-direction: column;
}

#projects-text{
    font-size: 350%;
    font-family: 'Roboto Slab', serif;
    margin-top: 5%;
    margin-bottom: 5%;
    
    
}


#project-container{
    width: 80%;
    height: 700px;
    display: grid;
    grid-template-columns: 32.5% 32.5% 32.5%;
    align-items: center;
    gap: 2%;

    
}

#card{
    position: relative;
    overflow: hidden;
    border-radius: 25px;
    cursor: pointer;
    
}

#hover{
    height: 0;
    background-image: linear-gradient(#F4A175, black );
    text-align: center;
    color: white;
    display: flexs;
    justify-content: center;
    border-radius: 15px;
}

#hover h1{
    margin-top: 20%;
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#card:hover #hover{
    height: 30%;
    transition: all .45s ease;
    
    
}

@media (max-width: 970px) {
    

    #project-container{
        grid-template-columns: 50% 50%;
        height: auto; 
        
    }

    #card{
        height: 350px;
        
        
    }

    #projects{
        height: auto;
        
    }
}


@media (max-width: 570px) {
    #project-container{
        grid-template-columns: 100%;
        height: auto; 
    
    }

    #projects{
        height: auto;
        background-color: green;
    }
    
}





