#contact{
    background-image: linear-gradient( grey, rgba(214, 208, 200, 1) );
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#contact-text{
    font-size: 350%;
    font-family: 'Roboto Slab', serif;
    margin-top: 5%;
    margin-bottom: 5%;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: black;
}

#contact-form {
    margin-right: 34px;
    margin-left: 34px;
    border-radius: 15px;
    
}

#contact-form form {
    position: relative;
    margin-right: 14px;
    margin-left: 14px;
    margin-top: 14px;
    
}

#contact-form form input,
form textarea {
    width: 100%;
    padding: 14px;
    background: white;
    color: black;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    
}

#contact-form textarea {
    resize: none;
    height: 240px;
    
}

#submit {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    
    width: 250px;
    height: 45px;
    font-size: 25px;
    color: #F4A175;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    border: solid;
    border-radius: 50px;
    border-color: #F4A175;
    border-width: 1px;
    cursor: pointer;
}

#submit:hover {
    transform: scale(1.1);
    background-color: #F4A175;
    color: black;
    border-color: black;
}

@media (max-height:620px){
    #contact{
        height: 620px;
    }
}


#icons-container{
    width: 50%;
    display:flex;
    justify-content: space-around;
    height: 200px;
    border-radius: 15px;
    margin-top: 5%;
    
}

#icons-div{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

#icons{
    height: 40px;
    width: 45px;
    margin: 5px;
    background-color: #F4A175;
    border-radius: 50%;
    border: solid;
    border-radius: 50%;
    border-color: black;
    border-width: 1px;
    transition: all .45s ease;
}

#icons:hover {
    transform: scale(1.5);
    cursor: pointer;
}

@media (max-width:870px){
    #icons{
        margin:10px;
    }
}

@media (max-width:850px){
    #icons{
        height: 50px;
        width: 50px;
    }
}

@media (max-width:710px){
    #icons{
        height: 40px;
        width: 50px;
    }

    #icons-container{
        width: 50%;
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    #icons-div{
        width: 100%;
    }
    
}

@media (max-width:610px){
    
}

@media (max-width: 575px){
    
}

@media (max-width: 450px){
    
   
}

@media (max-width: 450px){
    
}

@media (max-width: 450px){
    

    
}