#contact{
    background-image: linear-gradient( rgba(235, 232, 226, 1), rgba(214, 208, 200, 1) );
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    height: 100%;
    padding-bottom: 10%;
    
}

#contact-text{
    font-size: 350%;
    font-family: 'Roboto Slab', serif;
    margin-top: 5%;
    margin-bottom: 5%;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    border-width: 3px;
    border-color: #F4A175;
    border-image: url('../../assets/pictures/footer2.png') 30 round;
}

.contact-form-active {
    
    border-radius: 15px;
    transition: .45s;
    opacity: 1;
    filter:blur(0px);
    transform: translateX(0%);
    width: 50%;
}
.contact-form {
    border-radius: 15px;
    transition: .45s;
    opacity: 0;
    filter:blur(5px);
    transform: translateX(10%);
}



#form {
    position: relative;
    margin-right: 14px;
    margin-left: 14px;
    margin-top: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.input,
.textarea {
    width: 100%;
    padding: 14px;
    background: white;
    color: black;
    border: solid;
    outline: none;
    font-size: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    border-color: transparent;
    
}

#textarea {
    resize: none;
    height: 240px;
    
}


#Button-Message{
    display: flex;
    justify-content: space-around;
    
}

#submit {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    
    width: 250px;
    height: 45px;
    font-size: 25px;
    color: #F4A175;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    border: solid;
    border-radius: 50px;
    border-color: #F4A175;
    border-width: 1px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 10px;
}

#submit:hover {
    transform: scale(1.1);
    background-color: #F4A175;
    color: black;
    border-color: black;
}







@media (max-width:710px){

    #Button-Message{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        
    }
    

    .contact-form-active {
        width: auto;
    }
}

@media (max-width:610px){
    
}

@media (max-width: 575px){
    
}

@media (max-width: 450px){
    
   
}

@media (max-width: 450px){
    
}

@media (max-width: 370px){
    #contact-text{
        font-size: 250%;
    }

    
}