#footer{
    height:60px;
    position: sticky;
    bottom:0px;
   
}

#footer-button{
    height: 80%;
    width: 80%;
    background-color: white;
    border-radius: 30px;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}