.footer{
    display: none;
    transition: all .45s ease-in-out;
}

.footer1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/pictures/footer2.png');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    height:60px;
    position: sticky;
    bottom:0px;
    
}



#footer-button{
    height: 80%;
    width: 80%;
    background-color: white;
    border-radius: 30px;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-button:hover {
    transform: scale(1.05);
}