#aboutpage {
    background-image: linear-gradient(rgba(214, 208, 200, 1),rgba(235, 232, 226, 1));
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    
    
}

#slidesShow{
    
    height: 500px;
    width: 100%;
    position: relative;
    margin: auto;
    margin-top: 10px;
    padding: 16px 4px 16px 4px;


}

#aboutMeText{
    display: flex;
    flex-direction: column;
    height: 550px;
    width: 100%;
    position: relative;
    padding: 16px 4px 16px 4px;
   
}

#insideSlideShow {
    display: flex;
    align-items: center;
    height: 100%;
}

#text1{
    
    font-family: 'Roboto Slab', serif;
    font-size: 60px;
}



#text2{
    font-size: 1.3vw;
    font-family: 'Roboto Slab', serif;
    border-color: #F4A175;
    border-image: url('../../assets/pictures/footer2.png') 30 round;
    padding: 20px 0px 20px 0px;
    
}



.aboutMeContent-active{
    width: 85%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 10%;
    padding-bottom: 10%;
    margin: 0;
   
   
}

.aboutMeContent{
    width: 85%;
    
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 10%;
    margin: 0;
}




#inside-icons-container{
    
    width: 100%;
    height: 60px;
    display:flex;
    justify-content: space-around;
    align-items: center;

}


.icons-div{
    display: flex;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 45px;
    margin: 5px;
    background-color: #F4A175;
    border-radius: 50%;
    border: solid;
    border-radius: 50%;
    border-color: black;
    border-width: 1px;
    transition: .45s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    font-weight: 700;
    
}

.icons:hover {
    transform: scale(1.5);
    cursor: pointer;
}


@media (max-width:710px){
    .icons{
        height: 40px;
        width: 60px;
    }

    #icons-container{
        width: 50%;
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        
    }

    .icons-div{
        width: 100%;
    }
}



@media (max-height:780px) {
    #aboutpage {
        height: auto;
    }

}


@media (max-width:870px){
    .icons{
        margin:10px;
    }
}

@media (max-width:850px){
    .icons{
        height: 50px;
        width: 50px;
    }
}


@media (max-width:945px) {


    .aboutMeContent-active{
        
        grid-template-columns: 100%;
        grid-template-rows: 50% 40%;
    }

    .aboutMeContent{
        
        grid-template-columns: 100%;
        grid-template-rows: 50% 40%;
    }

    #aboutpage {
        height: 1270px;
    }

    #text2{
        font-size: 2.3vw;
    }

}

@media (max-width:630px) {
    #text2{
        font-size: 3vw;
    }

    #aboutpage {
        height: 1370px;
    }
}

@media (max-width:425px) {
    #text2{
        font-size: 3.5vw;
    }
}

@media (min-width: 1270px) {
    #aboutpage {
        /*background-image: linear-gradient(rgba(214, 208, 200, 1),rgba(235, 232, 226, 1));*/
        height: screen;
    }
}





