#skillsPage{
    /**background-image: linear-gradient(grey , rgba(214, 208, 200, 1));**/
    background-color: aqua;
    
}

#bigSquare{
    background-color: green;
    
}

#BSPosition{
    padding-top: 3%;
}



#square1{
    height: 100px;
    margin: 1px;
    
}

#square2{
    height: 100px;
    margin: 1px;
    
}