#skillsPage{
    background-image: linear-gradient(grey , rgba(214, 208, 200, 1));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#skills-text{
    font-size: 350%;
    font-family: 'Roboto Slab', serif;
    margin-top: 5%;
    margin-bottom: 5%;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    border-width: 3px;
    border-color: #F4A175;
}

.skills-container-active{
    width: 80%;
    display: flex;
    justify-content: center;

    transition: 2s;
    opacity: 1;
    filter:blur(0px);
    transform: translateX(0%);
}

.skills-container{
    width: 80%;
    transition: 2s;
    opacity: 0;
    filter:blur(5px);
    transform: translateX(100%);
}

#container{ 
   position: relative;
   display: grid; 
   width: 100%;
   height: auto;
   grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
   grid-template-rows: 180px 180px 180px 180px;
   grid-gap: 20px;
   
}

#square{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 40px;
    font-family:  'Roboto Slab', serif;
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    width: 100%;
    height: 100%;
}

#box:hover{
    transform: scale(1.1);
    transition: all .45s ease;
    
}

#box:nth-child(1){
    grid-column: span 3;
    grid-row: span 1;
}

#box:nth-child(2){
    grid-column: span 1;
    grid-row: span 2;
}

#box:nth-child(3){
    grid-column: span 1;
    grid-row: span 2;
}

#box:nth-child(6){
    grid-column: span 3;
    grid-row: span 1;
}

@media (max-height: 880px) {

    #skillsPage{
        height: 885px;
    }

}

@media (max-width: 970px) {

    #container{
        grid-template-columns: 100%;
        grid-template-rows: 200px 200px 200px 200px 200px 200px ;
    }

    #box:nth-child(1){
        grid-column: span 1;
        grid-row: span 1;
    }
    
    #box:nth-child(2){
        grid-column: span 1;
        grid-row: span 1;
    }
    
    #box:nth-child(3){
        grid-column: span 1;
        grid-row: span 1;
    }
    
    #box:nth-child(6){
        grid-column: span 1;
        grid-row: span 1;
    }

    #skillsPage{
        height: 1500px;
        background-color: green;
    }


}


