* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    list-style: none;
    scroll-behavior: smooth;
    transition: all .45s ease;
    
}

#homepage {
    display: grid;
    padding-top: 10%;
    background-size: cover;
    background-image: url('../../assets/pictures/Unsplash.png');
    background-repeat: no-repeat;
   
}

#block1{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    
}

#home-text {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-size: 4vw;
    font-family: 'Roboto Slab', serif;
    width: 90%;
    height: 50%;
    margin-bottom: 30px;
}



/******************max-height************************/


@media (max-height: 600px){
    #homepage {
       height: 700px;
       
    }
    
}

@media (min-width:1025px){
    

    #home-text {
        font-size: 5vw;
        
    }
}

@media (max-width:850px){
   
    #homepage {
        
       
    }

    #home-text {
        font-size: 7vw;
        
    }
 
}

@media (max-width:780px){
   
}

@media (max-width:580px){
    
    #home-text {
        height: 340px;
    }

    
}

@media (max-width:490px){
    #homepage {
        
        padding-top: 25%;
        
        transition: all .45s ease;
    }

    

   
}

@media (max-width:400px){
    

    #homepage {
        padding-top: 30%;
        
        
       
        
    }

    
}

@media (max-width:380px){
    #home-text{
        font-size: 300%;
    }
}


/******************max-height************************/





@media (max-height: 800px){
    
}

@media (max-height: 735px){
    #home-text {
        height: 340px;
    }
    
}

@media (max-height: 660px){

    
}



@media (max-height: 540px){
    
    
}

@media (max-height: 490px){

   

    
}