* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;

}

#homepage {
    background-image: linear-gradient(rgba(235, 232, 226, 1), rgba(214, 208, 200, 1));
    padding-top: 20%;
   
}

.home-text {
    font-size: 60px;
    width: 60%;
    height: 400px;
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin-left: 35px;
    font-family: 'Roboto Slab', serif;
}

.name-text{
    background-color: white;
    padding: 0;
    border-bottom: 1px solid red;
    
    
}

.aspiring-text{
    background-color: white;
    padding: 0;
    font-size: 25px;
}

.dev-text{
    background-color: white;
    padding: 0;
    
}

.button {
    background-color: rgba(235, 232, 226, 1);
    margin-top: 5%;
    margin-left: 35px;
    width: 20%;
    height: 5%;
    font-size: 25px;
    text-align: center;
}

/******************max-height************************/

@media (max-width:1020px){
    .home-text {
        font-size: 55px;
        transition: all .45s ease;
    
        
    }
}

@media (max-width:930px){
    .home-text {
        font-size: 45px;
        transition: all .45s ease;    
    }

    .button {
        width: 30%;
        transition: all .45s ease; 
    }
}

@media (max-width:780px){
    .dev-text{
        font-size: 40px;
        transition: all .45s ease;
    }
}

@media (max-width:690px){
    
    .dev-text{
        font-size: 35px;
        transition: all .45s ease;
    }

    .button {
        width: 40%;
        transition: all .45s ease; 
    }
}

@media (max-width:490px){
    #homepage {
        
        padding-top: 25%;
        
        transition: all .45s ease;
    }

    .home-text {
        
        width: 80%;
        height: 60%;
        transition: all .45s ease;
       
        
    }

    .button {
        width: 50%;
        transition: all .45s ease; 
    }
}

@media (max-width:400px){
    

    #homepage {
        padding-top: 30%;
        
        
       
        
    }

    .button {
        width: 50%;
        transition: all .45s ease; 
    }
}

@media (max-width:340px){
    .button {
        width: 80%;
        transition: all .45s ease; 
    }
}


/******************max-height************************/





@media (max-height: 800px){
    .button {
        height: 40px;
        transition: all .45s ease; 
        padding: 0;
    }
}

@media (max-height: 660px){

    .home-text {
        
        height: 350px;
        
    }
}

@media (max-height: 615px){
    #homepage {
        height: 550px;
       
    }
    
}

@media (max-height: 540px){
    .home-text {
        font-size: 30px;
        transition: all .45s ease;
    
        
    }
    .dev-text{
        font-size: 30px;
        transition: all .45s ease;
    }
    
}

@media (max-height: 490px){

    .home-text {
        
        height: 250px;
        
    }

    
}