* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;

}

#homepage {
    background-image: linear-gradient(rgba(235, 232, 226, 1), rgba(214, 208, 200, 1));
    
}